{% block breakcrumb %}
<!------ Breakcrumb Component----->
<div class="breakcrumb jaune-light-bg">
            <div class="search-container">
                <form class="search">
                    <input type="text" name="" placeholder="Où?">
                    <select name="pets" id="pet-select">
                        <option value="">Difficulté</option>
                        <option value="facile">Facile</option>
                        <option value="moyen">Moyen</option>
                        <option value="difficile">Difficile</option>
                    </select>
                    <input type="text" name="keyword" placeholder="Mot-clef">
                    <button class="btn-kaki" type="submit">Rechercher</button>
                </form>
            </div>
        </div>
{% endblock %}