<footer>
        <div class="footer-container">
            <ul class="list-inline">
                <li class="menu-item">Mentions légales</li>
                <li class="menu-item">FAQ</li>
                <li class="menu-item">Social</li>
            </ul>
        </div>
        <div class="copyright"><p>©TrailUp - 2023</p></div>
        <script type="text/javascript" src="{{ asset('assets/js/anime.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/anime.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/trailup.js')}}"></script>
</footer>