.profil-block {
    .user-thmb-container {
        max-width: 300px;
        max-height: 300px;
        border: 1px solid rgba(133, 133, 133, 0.155);
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .block {
        display: flex;
        margin-bottom: 20px;
        /* flex-direction: column; */
        gap: 10px;


    }

    .block-item {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        /* gap: 10px; */

        p{
            min-height: 37px;

            &.semibold {
                font-size: 18px;
                font-weight: 600;
                color: var(--vert-gris);
            }

            &:not(.semibold) {
                border: 1px solid rgba(133, 133, 133, 0.155);
                border-radius: 35px;
                padding: 5px 20px;
            }
        }
    }
}

.backoffice {
    form {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        input {
            border: 1px solid rgba(133, 133, 133, 0.155);
            border-radius: 35px;
            padding: 5px 20px;

        }

        >.colonne-50w {
            padding: 0 20px;

            &:first-child {
                border-right: 1px solid rgba(133, 133, 133, 0.155);
            }
        }

        button:not(.btn-small) {
            min-width: 150px;
        }
    }

    .apercu-thmb {
        max-width: 200px;
        padding: 0 !important;
        min-width: 150px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.backoffice .grid-2-colonnes {
    width: 100%;
    grid-template-areas:
        "account"
        "head"
        "nav"
        "main";

    @media screen and (min-width: 768px) {
        grid-template-areas:
            "account head"
            "nav main";
    }
}

.account {
    height: 100%;
    grid-area: account;

    p {
        margin: 0;
    }
}


.user-thmb-container {
    max-width: 78px;
    min-width: 78px;
    background-color: var(--kaki);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.user-intro {
    flex-grow: 2;
    width: auto;
}

.follow {
    width: 100%;
}

.followers-wrapper {
    flex-grow: 2;
}

.followers-wrapper p {
    margin: 0;
}

.sidebar-container {
    width: 100%;
    grid-area: nav;
    overflow-x: hidden;
}

.sb-row {
    padding: 20px;
    margin-bottom: 8px;
}

.bo__breakcrumb {
    grid-area: head;
    box-sizing: border-box;
}

.content {
    grid-area: main;
}

.bo-items {
    display: flex;
    color: var(--marron);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
}

.bo-items a {
    transition: 0.5s ease-in-out all;
}

.bo-items a:hover {
    color: var(--marron-fonce);
    text-decoration: underline;
}

.bo-items__open {
    color: var(--marron-fonce);
    font-weight: 400;
}

.bo-items .bo-items_submenu {
    display: none;
}

.bo-items__open .bo-items_submenu {
    display: initial;
    color: var(--marron-clair);
    width: 100%;
    margin: 5px auto 1em 2.81rem;
}

.prev__icon {
    display: inline-flex;
    flex-grow: 2;
}

.prev__icon__active {
    font-weight: 600;
}


.prev__icon__active::before svg {
    fill: var(--marron-fonce);
}

.prev__icon::before {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.arrow {
    width: 15px;
    height: auto;
}

.arrow .down {
    color: var(--marron-fonce);
}

.settings::before {
    content: url('../../public/assets/img/icons/icon-settings.svg');
}

.itineraires::before {
    content: url('../../public/assets/img/icons/icon-backoffice-itineraires.svg');
}

.friends::before {
    content: url('../../public/assets/img/icons/icon-backoffice-friends.svg');
}

.mailer::before {
    content: url('../../public/assets/img/icons/icon-backoffice-mail.svg');
}

.sort {
    cursor: pointer;
}

/* ---- Backoffice ADMIN ---- */


/* ---- Elements ---- */
button {
    border: inherit;
    cursor: pointer;
    border-radius: 46px;
    padding: 11px 37px;
}

.btn-small {
    padding: 6px 15px;
}

.btn-small .w150px {
    max-width: 150px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.action svg {
    height: 25px;
}

.ajouter {
    gap: 5px;
}

.ajouter::before {
    content: url('../../public/assets/img/icons/icon-add.svg');
}

.ecrire {
    gap: 10px;
}

.notification {
    position: relative;
}

.icon-notification {
    content: url('../../public/assets/img/icons/icon-notification.svg');
    height: 25px;
}

.round {
    position: absolute;
    font-weight: 600;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background-color: var(--rouge);
    border: 2px solid black;
    font-size: 12px;
}

.btn-green {
    background-color: var(--fluo);
    color: black;
    transition: 0.2s ease-in-out all;
}

.btn-blue {
    color: var(--blanc);
    background-color: var(--bleu);
    transition: 0.2s ease-in-out all;
}

.btn-blue path {
    fill: white !important;
}

.no-bg {
    padding: 0;
    background-color: transparent;
    color: black;
    transition: 0.2s ease-in-out all;
}

.hover-green:hover {
    background-color: var(--kaki);
}

.btn-kaki {
    background-color: var(--kaki);
}

.border-thin {
    border: 1px solid var(--gris-clair);
}

.post-wrapper {
    padding: 1em;
}

.post-wrapper .colonne-20w {
    align-items: center;
}

.post-wrapper button:not(.content button) {
    flex-grow: 3;
}

.contact {
    width: 30px;
}

.map-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    height: 100%;
}

.map-container img {
    height: 100%;
    width: auto;
}