@use "variables";
@use "mixins";


input,
select {
    appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius-40);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    padding: 5px;
}

.search {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--blanc);
    border-radius: var(--border-radius-20);
    padding: var(--spacing-large);
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    margin-top: var(--spacing-large);

    > * {
        flex-grow: 2;
        padding: var(--spacing-small);
    }

    input,
    select {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: calc(100% / 4);
        }
    }

    // input:not(input:first-child),
    select {
        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.4);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 1px;
    top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

textarea {
    resize: none;
}

.edit {
    width: 25px;
}

.new-title {
    padding: 10px 1em;
    border-radius: 5px;
}

.login {
    padding: var(--spacing-xl) var(--spacing-large);
    border-radius: 30px;
    min-width: 300px;
    box-sizing: border-box;
    color: var(--btn-primary-hover);
    gap: var(--spacing-small);

    h1{
        font-size: var(--font-size-4xl);
        line-height: 2rem;
        font-weight: 600;
        margin-bottom: var(--spacing-small);
    }

    label{
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        input{
            width: 100%;
        }
    }
}

#itineraires_accepte label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}