@use "variables";
@use "mixins";

/* ---- Layout ---- */

section{
    padding: var(--spacing-xl);
    box-sizing: border-box;
}

.avantages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .colonnes-2{
        display: flex;
        gap: var(--spacing-medium);
        flex-wrap: wrap;
        align-items: stretch;

        .colonne-50w{
            width: 100%;
            flex-grow: 2;

            @media screen and (min-width: 768px) {
                max-width: 45%;
            }
        }

        #colonne-g{
            h2{
                margin: var(--spacing-medium);
                font-size: var(--font-size-5xl);
                line-height: 2.7rem;
                font-weight: 600;
                color: var(--marron-clair);
            }
        }

        #colonne-d{
            width: 50%;
        }
    }
}