// add your SASS styles in this file
@use 'variables';
@use 'mixins';
@use "layout";
@use "forms";
@use "typography";
@use "header";
@use "footer";
@use "buttons";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}