
<form method="post" action="{{ path('iti_saved_add', {'id': annonce.itineraire.id }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('add' ~ annonce.itineraire.id) }}">
    <button name="add" class="btn-small no-bg like">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 26 25" fill="black">
            <path d="M13.1328 22.2656L13.6719 23.3063C13.5053 23.3926 13.3204 23.4376 13.1328 23.4376C12.9452 23.4376 12.7603 23.3926 12.5938 23.3063L12.5813 23.3L12.5531 23.2844C12.3895 23.1998 12.228 23.1113 12.0687 23.0188C10.1644 21.9349 8.36768 20.6719 6.70312 19.2469C3.82812 16.7672 0.632812 13.0469 0.632812 8.59375C0.632812 4.43125 3.89219 1.5625 7.27344 1.5625C9.69063 1.5625 11.8094 2.81562 13.1328 4.71875C14.4563 2.81562 16.575 1.5625 18.9922 1.5625C22.3734 1.5625 25.6328 4.43125 25.6328 8.59375C25.6328 13.0469 22.4375 16.7672 19.5625 19.2469C17.7568 20.7907 15.7964 22.1437 13.7125 23.2844L13.6844 23.3L13.675 23.3047H13.6719L13.1328 22.2656ZM7.27344 3.90625C5.18594 3.90625 2.97656 5.725 2.97656 8.59375C2.97656 11.9531 5.44531 15.0688 8.23437 17.4719C9.75606 18.7734 11.396 19.93 13.1328 20.9266C14.8696 19.93 16.5096 18.7734 18.0312 17.4719C20.8203 15.0688 23.2891 11.9531 23.2891 8.59375C23.2891 5.725 21.0797 3.90625 18.9922 3.90625C16.8469 3.90625 14.9156 5.44687 14.2594 7.74375C14.1903 7.98934 14.0428 8.20561 13.8394 8.35965C13.6361 8.5137 13.3879 8.59706 13.1328 8.59706C12.8777 8.59706 12.6296 8.5137 12.4262 8.35965C12.2228 8.20561 12.0754 7.98934 12.0062 7.74375C11.35 5.44687 9.41875 3.90625 7.27344 3.90625Z" fill="black"/>
        </svg>
    </button>
</form>
