<form method="post" action="{{ path('admin_itineraires_delete', {'id': itineraire.id }) }}" onsubmit="return confirm('Voulez-vous supprimer cet itinéraire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itineraire.id) }}">
    <button class="btn-small no-bg delete">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path d="M14.5837 11.4583V17.7083M10.417 11.4583V17.7083M6.25033 7.29167V19.7917C6.25033 20.3442 6.46982 20.8741 6.86052 21.2648C7.25122 21.6555 7.78112 21.875 8.33366 21.875H16.667C17.2195 21.875 17.7494 21.6555 18.1401 21.2648C18.5308 20.8741 18.7503 20.3442 18.7503 19.7917V7.29167M4.16699 7.29167H20.8337M7.29199 7.29167L9.37533 3.125H15.6253L17.7087 7.29167" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
</form>
